


#btnlogin {
    -fx-background-color: #F68716;
    -fx-cursor: hand;
}

#btnmenu {
    -fx-background-color: #358C9C;
    -fx-cursor: hand;
}

#btnFilter, #btnTambah {
    -fx-background-color: #F68716;
}

