


#btnlogin {
    -fx-background-color: #F68716;
    -fx-cursor: hand;
}

#btnmenu {
    -fx-background-color: #358C9C;
    -fx-cursor: hand;
}

#btnFilter, #btnTambah {
    -fx-background-color: #F68716;
    -fx-cursor: hand;
}

#btnBatal{
    -fx-background-color: #B40000;
    -fx-cursor: hand;
}

#btnTambah, #btnCari {
    -fx-background-color: #358C9C;
    -fx-cursor: hand;
}


#btnEdit {
    -fx-background-color: #358C9C;
    -fx-cursor: hand;
}


